- description 'Сайт компании программистов.Мы создаем индивидуальные приложения для бизнеса, работающие через интернет.Любим open source!'
- keywords 'интернет программирование программист ruby rails'
h1
  = title 'My page title'
p Find me in app/views/home/index.html.haml