// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input.forminput {
  width: 400px;
}
textarea.forminput {
  width: 561px;
  height: 233px;
}